html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
}

#bubbly-fish {
  display: flex;

  &,
  & > * {
    height: 100%;
  }
}

#score {
  position: fixed;
  left: 1em;
  top: 1em;
  font-size: 1.4em;
  font-weight: bold;
}

@import 'dialog/gameover';
