html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
}

#bubbly-fish {
  display: flex;

  &,
  & > * {
    height: 100%;
  }
}

#score {
  position: fixed;
  left: 1em;
  top: 1em;
  font-size: 1.4em;
  font-weight: bold;
}

#gameover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:not(.active) {
    display: none;
  }

  & > div {
    background-color: #fff;
    border-radius: 0.5em;
    padding: 2em 4em;
    min-width: 250px;
  }

  h2,
  .score-wrapper {
    margin: 1.4rem 0;
  }

  h2 {
    font-size: 2em;
  }

  .score-wrapper {
    display: block;
    font-size: 1.4em;
  }

  button {
    $color: #009900;

    border: 0;
    outline: 0;
    background: $color;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: 5px solid $color;
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.5s ease;

    &:hover {
      background: transparent;
      color: $color;
    }

    &:focus {
      box-shadow: 0 0 5px 5px rgba($color, 0.5);
    }
  }
}
